@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: #000;
}
.full-viewport {
    width: 100%;
    height: auto;
    background-image: url(../assets/fondo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* --------------- SECTION NAVBAR ----------------- */
.container-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000000b3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
    z-index: 1000;
}
.container-navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
.container-navbar .container-image {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container-navbar .container-links {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.container-navbar .container-links a {
    font-size: 0.9rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.container-navbar .container-links span {
    border: 1px solid #dadada;
    padding: 9px 20px;
    border-radius: 30px;
    color: #dadada;
}
/* --------------- FIN SECTION NAVBAR ----------------- */
                /* ------------------ */


/* --------------- SECTION VIEWPORT FREE ----------------- */
.viewport-container-content_free {
    width: 70%;
    height: 34rem;
    padding: 1.2rem;
    margin: 0 auto;
}
.viewport-content_free {
    width: 100%;
    height: auto;
    margin: 9.2rem 3.5rem;
}
.viewport-container-content_free .viewport-content_free h1 {
    width: 35rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #fff;
}
.viewport-container-content_free .viewport-content_free button {
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff640a;
}
.viewport-container-content_free .viewport-content_free button img {
    width: 20px;
    margin-right: 0.5rem;
}
.viewport-container-content_free .viewport-content_free p {
    width: 27rem;
    color: #dadada;
    margin-bottom: 1rem;
    margin-top: 1rem;
    --line-height: 1rem;
    font-size: .7rem;
    font-weight: 300;
}
.viewport-container-content_free .viewport-content_free a {
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.125rem;
    color: #ff5e00;
    font-weight: 900;
}
.viewport-container-content_free .viewport-content_free img {
    width: 0.9rem;
    margin-left: 0.4rem;
}

/* --------------- SECTION VIEWPORT PREMIUM ----------------- */
.viewport-container-content_premium {
    width: 70%;
    height: 16rem;
    padding: 1rem;
    margin: 0 auto;
}
.viewport-content_premium {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.viewport-container-content_premium .viewport-content_premium h1 {
    margin: 1.3rem 0 .82rem 0;
    text-align: center;
    --line-height: 4rem;
    font-size: 3.375rem;
    font-weight: 900;
    color: #fff;
}
.viewport-container-content_premium .viewport-content_premium p {
    width: 40rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2.7rem;
    color: #fff;
}
.viewport-container-content_premium .viewport-content_premium button {
    width: 11rem;
    height: 2.5rem;
    font-size: .8rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff640a;   
}
.viewport-container-content_premium .viewport-content_premium button img {
    width: 20px;
    margin-left: 0.5rem;
}

/* --------------- SECTION VIEWPORT ICONS ----------------- */


.viewport-container-content_icons {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.viewport-container-content_icons .viewport-content_icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
}
.viewport-container-content_icons .viewport-content_icons img {
    width: 90%;
}
/* --------------- FIN SECTION VIEWPORT ----------------- */
                /* -------------------- */


/* --------------- SECTION PLANS MEMBERSHIPS  ----------------- */
.container-premium_plans{
    width: 100%;
    height: auto;
    background-color: #000000;
}
.container-premium_plans .container-premium-plans_info p {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    color: #fff;
}
.container-premium_plans .container-premium-plans_user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}
.container-premium_plans .container-premium-plans_user h1 {
    font-size: 3.375rem;
    line-height: 4rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 4.5rem;
}
.container-premium_plans .container-premium-plans_user div {
    width: 20%;
    height: 5rem;
    border: .0625rem solid #ff5e00;
    border-radius: 6.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.container-premium_plans .container-premium-plans_user div .btn-month {
    width: 9rem;
    padding: 0.8rem 1rem;
    border: none;
    background-color: #ff5e00;
    font-size: 0.9rem;
    border-radius: 6.25rem;
}

.container-premium_plans .container-premium-plans_user div .btn-year {
    width: 10rem;
    padding: 0.3rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.container-premium_plans .container-premium-plans_user div span {
    font-size: 0.65rem;
}
/* --------- CARD PLANS ---------- */
.container-premium_plans .container-premium-plans_card {
    width: 100%;
    height: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.container-premium_plans .container-premium-plans_card .premium-card_plan {
    width: 22rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    border-radius: 0.9rem;
    border: 1px solid #ff5e00;
}
.premium-card_plan .container-premium-card_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium-card_plan .container-premium-card_img img {
    width: 11rem;
}
.premium-card_plan h2 {
    font-size: 2.125rem;
    color: #fff;
    margin-bottom: 0.30rem;
}
.premium-card_plan h4 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 100;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.premium-card_plan h4 span {
    font-size: .8rem;
    color: #a0a0a0;
    font-weight: 100;
}
.premium-card_plan h4 .plan-year {
    font-size: 1.3rem;
    display: none;
}
.premium-card_plan button {
    width: 20rem;
    height: 2.5rem;
    border-radius: 3rem;
    border: .0625rem solid #ff5e00;
    color: #ff5e00;
    background-color: transparent;
    margin: 0.6rem 0;
}
.premium-card_plan a {
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1.4rem;
}
.premium-card_plan .info-card_plan {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.premium-card_plan .info-card_plan div {
    display: flex;
    justify-content: start;
    align-items: start;
}
.premium-card_plan .info-card_plan img {
    width: 1rem;
    margin: 0 0.5rem;
}
.premium-card_plan .info-card_plan .paragraf-card {
    font-size: .91rem;
    color: #f8f8f8;
}
.premium-card_plan .info-card_plan .paragraf-card span {
    color: #ff5e00;
}
/* --------------- END CARDS -------------- */

.container-premium_plans .container-premium-plans_promo {
    width: 40%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-premium_plans .container-premium-plans_promo {
    text-align: center;
    font-size: .7rem;
    margin-top: 1rem;
    color: #dadada;
}
/* --------------- END SECTION PLANS MEMBERSHIPS  ----------------- */
                /* -------------------------- */


/* --------------- SECTION SERIES  ----------------- */
.container-principal_series {
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
}
.container-principal_series .content-title_description {
    width: 100%;
    height: auto;
}
.container-principal_series .content-title_description h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.9rem;
    color: #fff;
}
.container-principal_series .content-title_description p {
    width: 30%;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    color: #dadada;
}
/* ------- CONTAINER CARDS --------  */
.container-principal_series .container-content_card {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: calc((180px * 6) + (0.6rem * 5));
    margin: 0 auto;
    padding: 1rem 1.3rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.contenedor {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: calc((180px * 6) + (0.6rem * 5));
    margin: 0 auto;
    padding: 1rem 1.3rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.container-content_card .card-series {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
}
.container-content_card .card-series:hover {
    background-color: #7e7e7e2b;
    transition: .2s ease-in-out;
}
.container-content_card .card-series img {
    width: 9rem;
    margin-top: 1rem;
}
.container-content_card .card-series p {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    color: #a0a0a0;
}
.container-content_card .card-next {
    width: 2.3rem;
    filter: brightness(0) invert(1) opacity(0.6);
}
.container-content_card .card-next:hover {
    background-color: rgba(128, 128, 128, 0.189);
    cursor: pointer;
}
/* ----------- END CONTAINER CARDS ------------ */

.container-offline_series {
    width: 80%;
    height: 50rem;
    margin: 0 auto;
    background-image: url(../assets/fondo-offline.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}
.container-offline_series .container-img_offline {
    display: flex;
    width: 50%;
}
.container-offline_series .container-img_offline img {
    width: 35rem;
    position: absolute;
    bottom: 100px;
    left: 0px;
}
.container-offline_series .container-img_offline .offline-img_r {
    width: 26rem;
    height: 15rem;
    position: absolute;
    bottom: 73px;
    left: 525px;
}
/*  */
.container-offline_series .container-img-offline_info {
    width: 50%;
}
.container-offline_series .container-img-offline_info img {
    width: 2rem;
    position: absolute;
    top: 200px;
    right: 535px;
}
.container-offline_series .container-img-offline_info h1 {
    margin-top: 12rem;
    text-align: center;
    font-size: 2.1rem;
}
.container-offline_series .container-img-offline_info p {
    width: 60%;
    margin: 0 auto;
}
/* --------------- END SECTION SERIES  ----------------- */
                /* -------------------------- */


/* --------------- SECTION DEVICE CONTAINER  ----------------- */
.containe-device {
    width: 90%;
    height: 35rem;
    display: flex;
    padding: 2rem;
    margin: 0 auto;
}
/* ----- CONTAINER LEFT ----- */
.containe-device .content-info_device {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4rem;
}
.containe-device .content-info_device div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containe-device .content-info_device img {
    width: 2rem;
    margin-right: 1rem;
    filter: brightness(0) invert(1) opacity(0.6);
}

.containe-device .content-info_device h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}
.containe-device .content-info_device p {
    font-size: 1rem;
    width: 24rem;
    margin-top: 1rem;
    color: #dadada;
}
/* ----- CONTAINER RIGHT ----- */
.containe-device .content_device {
    width: 50%;
    display: flex;
    justify-content: center;align-items: center;
    position: relative;
    margin-right: 4rem;
}
.containe-device .content_device .content-image_fondo {
    width: 40rem;
}
.containe-device .content_device .content-image_device {
    width: 47rem;
    position: absolute;
    bottom: 0;
}
/* --------------- END SECTION DEVICE CONTAINER  ----------------- */
                /* ----------------------------- */


/* --------------- SECTION QUESTIONS AND FOOTER  ----------------- */
.container-questions {
    width: 100%;
    height: 20rem;
    margin-top: 4rem;
}
.content_questions h2 {
    text-align: center;
    font-size: 2rem;
    color: #dadada;
    margin-bottom: 0.8rem;
}.content_questions .paragraf1 {
    text-align: center;
    margin-bottom: 6rem;
    color: #dadada;
}
.content_questions .paragraf1 a {
    text-decoration: none;
    color: #ff5e00;
}
.content_questions .paragraf1 a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.content_questions .paragraf2 {
    text-align: center;
    color: #dadada;
}
/*  */
.container-footer {
    width: 100%;
    height: 8rem;
}
.container-footer hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid #fff;
}
.container-footer .container-content_footer {
    display: flex;
    justify-content: center;
}
.container-footer .container-content_footer a {
    text-decoration: none;
    color: #dadada;
}
.container-footer .container-content_footer span {
    color: #dadada;
    margin: 0 1rem;
}
/*  */
.container-footer .container-footer_section2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-footer_section2 .content-footer_left img {
    width: 22rem;
    margin-top: 1rem;
}
.container-footer_section2 .content-footer_right select {
    background-color: transparent;
    border: none;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}




