@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.full-viewport {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/fondo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* --------------- SECTION NAVBAR ----------------- */
.container-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000000b3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.container-navbar .container-image {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container-navbar .container-links {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.container-navbar .container-links a {
    font-size: 0.9rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.container-navbar .container-links span {
    border: 1px solid #dadada;
    padding: 9px 20px;
    border-radius: 30px;
    color: #dadada;
}
/* --------------- FIN SECTION NAVBAR ----------------- */
                /* ------------------ */


/* --------------- SECTION VIEWPORT FREE ----------------- */
.viewport-container-content_free {
    width: 70%;
    height: 34rem;
    padding: 1.2rem;
    margin: 0 auto;
}
.viewport-content_free {
    width: 100%;
    height: auto;
    margin: 9.2rem 3.5rem;
}
.viewport-container-content_free .viewport-content_free h1 {
    width: 35rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #fff;
}
.viewport-container-content_free .viewport-content_free button {
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff640a;
}
.viewport-container-content_free .viewport-content_free button img {
    width: 20px;
    margin-right: 0.5rem;
}
.viewport-container-content_free .viewport-content_free p {
    width: 27rem;
    color: #dadada;
    margin-bottom: 1rem;
    margin-top: 1rem;
    --line-height: 1rem;
    font-size: .7rem;
    font-weight: 300;
}
.viewport-container-content_free .viewport-content_free a {
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.125rem;
    color: #ff5e00;
    font-weight: 900;
}
.viewport-container-content_free .viewport-content_free img {
    width: 0.9rem;
    margin-left: 0.4rem;
}

/* --------------- SECTION VIEWPORT PREMIUM ----------------- */
.viewport-container-content_premium {
    width: 70%;
    height: 16rem;
    padding: 1rem;
    margin: 0 auto;
}
.viewport-content_premium {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.viewport-container-content_premium .viewport-content_premium h1 {
    margin: 1.3rem 0 .82rem 0;
    text-align: center;
    --line-height: 4rem;
    font-size: 3.375rem;
    font-weight: 900;
    color: #fff;
}
.viewport-container-content_premium .viewport-content_premium p {
    width: 40rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2.7rem;
    color: #fff;
}
.viewport-container-content_premium .viewport-content_premium button {
    width: 11rem;
    height: 2.5rem;
    font-size: .8rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff640a;   
}
.viewport-container-content_premium .viewport-content_premium button img {
    width: 20px;
    margin-left: 0.5rem;
}

/* --------------- SECTION VIEWPORT ICONS ----------------- */


.viewport-container-content_icons {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.viewport-container-content_icons .viewport-content_icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
}
.viewport-container-content_icons .viewport-content_icons img {
    width: 90%;
}
/* --------------- FIN SECTION VIEWPORT ----------------- */
                /* -------------------- */





.dos{
    width: 100%;
    height: 1000px;
    background-color: #ff640a;
}