@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}
body {
    background-color: #000;
    font-family: "Lato", sans-serif;
    height: 100vh;
}
a {
    text-decoration: none;
    list-style: none;
}
.container-logo {
    height: 40px;
}
/* ---------- CONTAINER FORM --------- */
.container-form {
    margin-top: 16.5rem;
}
.container-form h1 {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 3.3rem;
    font-weight: 400;
    margin-bottom: 9rem;
}
.container-form .container-label {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   flex-direction: column;
}
.container-form .container-label .form-label {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form .form-control {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 43rem;
}
.container-form .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form .btn {
    width: 43rem;
    height: 4rem;
    margin-top: 4rem;
    border-radius: 80.8rem;
    background-color: transparent;
    border: 3px solid gray;
    color: gray;
    font-size: 1.5rem;
}
.container-form .btn:hover{
    color: rgb(4, 5, 5);
    background-color: rgb(255, 103, 15);
    outline: none;
}
.container-form .recovery {
    margin-top: 2rem;
    text-align: center;
}
.container-form .recovery p {
    font-size: 1.4rem;
    color: rgb(255, 112, 28);
}
.container-form .recovery span {
    color: #fff;
    margin: 0px 0.7rem;
}
/* -------------- CONTAINER FOOTER ------------- */
.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}
.links-footer .links a {
    text-decoration: none;
    list-style: none;
    margin: 0px 1rem;
    font-size: 1.4rem;
    color: gray;
}
.links-footer .links a:hover {
    color: rgb(255, 112, 28);
    cursor: pointer;
}
.links-footer .links span {
    color: gray;
}
.paragraf-footer  {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: #fff;
}
.paragraf-footer span {
    color: gray;
}
.paragraf-footer span:hover {
    color: rgb(255, 112, 28);
    cursor: pointer;
}
.separator {
    border: 1px solid gray;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem ;
}
.container-info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-info {
    display: flex;
    justify-content: start;
    align-items: center;
}
.container-info img {
    margin-right: 1.3rem;
}
.container-info p {
    font-size: 1.5rem;
    color: gray;
    margin-top: 0.7rem;
}